In [15]:
pip install pandas

Requirement already satisfied: pandas in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saral\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\saral\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
import pandas as pd

# Cargar el archivo CSV
path ="C:\\Users\\saral\\OneDrive - Universidad de los andes\\ARCHVIOS MAC SARA\\SARA GG 8\\OCTAVO SEMESTRE\\ANALITICA\\PROYECTO 1\\SeoulBikeData_utf8.csv"
df = pd.read_csv(path)

In [17]:
df.dtypes

Date                         object
Rented Bike Count             int64
Hour                          int64
Temperature(C)              float64
Humidity(%)                   int64
Wind speed (m/s)            float64
Visibility (10m)              int64
Dew point temperature(C)    float64
Solar Radiation (MJ/m2)     float64
Rainfall(mm)                float64
Snowfall (cm)               float64
Seasons                      object
Holiday                      object
Functioning Day              object
dtype: object

In [18]:
# 1. Convertir la columna 'Date' al formato datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [19]:
# 2. Aplicar Label Encoding para 'Holiday' y 'Functioning Day' 
df['Holiday'] = df['Holiday'].map({'No Holiday': 0, 'Holiday': 1})
df['Functioning Day'] = df['Functioning Day'].map({'Yes': 1, 'No': 0})

In [20]:
# 3. Aplicar One-Hot Encoding a la columna 'Seasons'
df = pd.get_dummies(df, columns=['Seasons'], drop_first=True)

In [21]:
df

,Date,Rented Bike Count,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,Seasons_Spring,Seasons_Summer,Seasons_Winter
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0,1,False,False,True
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0,1,False,False,True
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0,1,False,False,True
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0,1,False,False,True
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0,1,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,0,1,False,False,False
8756,2018-11-30,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,0,1,False,False,False
8757,2018-11-30,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,0,1,False,False,False
8758,2018-11-30,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,0,1,False,False,False
8759,2018-11-30,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,0,1,False,False,False

#estadisticas descriptivas

In [22]:
estadisticas = df.describe()
print(estadisticas)

                                Date  Rented Bike Count         Hour  \
count                           8760        8760.000000  8760.000000
mean   2018-05-31 23:59:59.999999744         704.602055    11.500000
min              2017-12-01 00:00:00           0.000000     0.000000
25%              2018-03-02 00:00:00         191.000000     5.750000
50%              2018-06-01 00:00:00         504.500000    11.500000
75%              2018-08-31 00:00:00        1065.250000    17.250000
max              2018-11-30 00:00:00        3556.000000    23.000000
std                              NaN         644.997468     6.922582

       Temperature(C)  Humidity(%)  Wind speed (m/s)  Visibility (10m)  \
count     8760.000000  8760.000000       8760.000000       8760.000000
mean        12.882922    58.226256          1.724909       1436.825799
min        -17.800000     0.000000          0.000000         27.000000
25%          3.500000    42.000000          0.900000        940.000000
50%         13.700000    57.000000          1.500000       1698.000000
75%         22.500000    74.000000          2.300000       2000.000000
max         39.400000    98.000000          7.400000       2000.000000
std         11.944825    20.362413          1.036300        608.298712

       Dew point temperature(C)  Solar Radiation (MJ/m2)  Rainfall(mm)  \
count               8760.000000              8760.000000   8760.000000
mean                   4.073813                 0.569111      0.148687
min                  -30.600000                 0.000000      0.000000
25%                   -4.700000                 0.000000      0.000000
50%                    5.100000                 0.010000      0.000000
75%                   14.800000                 0.930000      0.000000
max                   27.200000                 3.520000     35.000000
std                   13.060369                 0.868746      1.128193

       Snowfall (cm)      Holiday  Functioning Day
count    8760.000000  8760.000000      8760.000000
mean        0.075068     0.049315         0.966324
min         0.000000     0.000000         0.000000
25%         0.000000     0.000000         1.000000
50%         0.000000     0.000000         1.000000
75%         0.000000     0.000000         1.000000
max         8.800000     1.000000         1.000000
std         0.436746     0.216537         0.180404

#GRAFICOS DE LAS VARIABLES

In [23]:
pip install matplotlib seaborn

Requirement already satisfied: matplotlib in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (3.9.2)
Requirement already satisfied: seaborn in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\saral\appdata\roaming\python\python311\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\saral\appdata\roaming\python\python311\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saral\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\saral\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
import matplotlib.pyplot as plt